  <div class="rich-text-block-2 w-richtext">
    <p>Auf dieser Webseite werden keinerlei Cookies oder Tracking-Technologien eingesetzt. Personenbezogene Daten werden ausschließlich dann verarbeitet, wenn Sie das Kontaktformular nutzen. Die von Ihnen eingegebenen Daten werden nur zur Bearbeitung Ihrer Anfrage verwendet und nicht an Dritte weitergegeben. Weitere Informationen erhalten Sie auf Wunsch direkt bei Kontaktaufnahme.</p>
  </div> 